{% extends "::layout/layout.html.twig" %}

{% block principal %}
    <section class="page-header page-header-xlg parallax parallax-3" style="background-image:url('demo_files/images/1200x800/18-min.jpg')">
        <div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

        <div class="container">

            <h1>PROFILE</h1>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <span class="font-lato fs-18 fw-300">Bienvenue, {{ app.user.username }} vous etes maintenant connecté.</span>

            <!-- breadcrumbs -->

            <ol class="breadcrumb">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active"><a href="{{ path('fos_user_security_logout') }}"> deconnexion</a></li>
            </ol><!-- /breadcrumbs -->
    {% else %}
        <li class="hidden-xs-down"><a href="{{ path('fos_user_security_login') }}">CONNEXION</a></li>
        <li class="hidden-xs-down"><a href="{{ path('fos_user_registration_register') }}">S'INSCRIRE</a></li>
    {% endif %}
        </div>
    </section>
    <!-- /PAGE HEADER -->


    <!-- -->
    <section>
        <div class="container">

            <div class="row">


                <div class="row">

                    <!-- LEFT -->
                    <div class="col-lg-3 col-md-3 col-sm-4">

                        <div class="thumbnail text-center">
                            <img class="img-fluid" src="demo_files/images/people/460x700/8-min.jpg" alt="" />
                            <h2 class="fs-18 mt-10 mb-0">{{ app.user.username }}</h2>
                            <h3 class="fs-11 mt-0 mb-10 text-muted">DEVELOPER</h3>
                        </div>

                        <!-- completed -->
                        <div class="mb-30">
                            <label>88% completed profile</label>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%; min-width: 2em;"></div>
                            </div>
                        </div>
                        <!-- /completed -->

                        <!-- SIDE NAV -->
                        <ul class="side-nav list-group mb-60" id="sidebar-nav">
                            <li class="list-group-item active"><a href="{{ path('candidat_profile') }}"><i class="fa fa-eye"></i> PROFILE</a></li>
                            <li class="list-group-item"><a href="{{ path('candidat_profile_project') }}"><i class="fa fa-tasks"></i> PROJECTS</a></li>
                            <li class="list-group-item"><a href="{{ path('candidat_profile_comments') }}"><i class="fa fa-comments-o"></i> COMMENTS</a></li>
                            <li class="list-group-item"><a href="{{ path('candidat_profile_history') }}"><i class="fa fa-history"></i> HISTORY</a></li>
                            <li class="list-group-item"><a href="{{ path('candidat_profile_setting') }}"><i class="fa fa-gears"></i> SETTINGS</a></li>
                            <li class="list-group-item"><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-gears"></i> QUITTER</a></li>

                            <li class="list-group-item list-toggle">
                                <a data-toggle="collapse" href="#collapse-1">DROPDOWN EXAMPLE</a>

                                <ul id="collapse-1" class="collapse">
                                    <li><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 1</a></li>
                                    <li>
                                        <span class="badge badge-red">New</span>
                                        <a href="#"><i class="fa fa-angle-right"></i> SUMBENU 2</a>
                                    </li>
                                    <li class="active"><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 3</a></li>
                                    <li><a href="#"><i class="fa fa-angle-right"></i> SUMBENU 4</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- /SIDE NAV -->


                        <!-- info -->
                        <div class="box-light mb-30"><!-- .box-light OR .box-light -->
                            <div class="row mb-20">
                                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                                    <h2 class="fs-30 mt-10 mb-0 font-raleway">12</h2>
                                    <h3 class="fs-11 mt-0 mb-10 text-info">PROJECTS</h3>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                                    <h2 class="fs-30 mt-10 mb-0 font-raleway">34</h2>
                                    <h3 class="fs-11 mt-0 mb-10 text-info">TASKS</h3>
                                </div>

                                <div class="col-md-4 col-sm-4 col-xs-4 text-center bold">
                                    <h2 class="fs-30 mt-10 mb-0 font-raleway">32</h2>
                                    <h3 class="fs-11 mt-0 mb-10 text-info">UPLOADS</h3>
                                </div>
                            </div>
                            <!-- /info -->

                            <div class="text-muted">
                                <h2 class="fs-18 text-muted mb-6"><b>About</b> Felicia Doe</h2>
                                <p>Lorem ipsum dolor sit amet diam nonummy nibh dolore.</p>

                                <ul class="list-unstyled m-0">
                                    <li class="mb-10"><i class="fa fa-globe fw-20 hidden-xs-down hidden-sm"></i> <a href="http://www.stepofweb.com">www.stepofweb.com</a></li>
                                    <li class="mb-10"><i class="fa fa-facebook fw-20 hidden-xs-down hidden-sm"></i> <a href="http://www.facebook.com/stepofweb">stepofweb</a></li>
                                    <li class="mb-10"><i class="fa fa-twitter fw-20 hidden-xs-down hidden-sm"></i> <a href="http://www.twitter.com/stepofweb">@stepofweb</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <!-- RIGHT -->
                    <div class="col-lg-9 col-md-9 col-sm-8">

                        <!-- FLIP BOX -->

                        <div class="box-flip box-icon box-icon-center box-icon-round box-icon-large text-center m-0">
                            <div class="front">
                                <div class="box1 rad-0">
                                    <div class="box-icon-title">
                                        <i class="fa fa-user"></i>
                                        <h2>Felica Doe &ndash; Profile</h2>
                                    </div>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>
                                </div>
                            </div>

                            <div class="back">
                                <div class="box2 rad-0">
                                    <h4>WHO AM I?</h4>
                                    <hr />
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.</p>
                                </div>
                            </div>
                        </div>
                        <!-- /FLIP BOX -->


                        <div class="box-light"><!-- .box-light OR .box-dark -->

                            <div class="row">

                                <!-- POPULAR POSTS -->
                                <div class="col-md-6 col-sm-6">

                                    <div class="box-inner">
                                        <h3>
                                            <a class="float-right fs-11 text-warning" href="#">VIEW ALL</a>
                                            POPULAR POSTS
                                        </h3>
                                        <div class="h-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                            <div class="clearfix mb-10"><!-- post item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/b-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-13 m-0 b-0 p-0"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
                                                <span class="fs-11 text-muted">June 29, 2017</span>
                                            </div><!-- /post item -->

                                            <div class="clearfix mb-10"><!-- post item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/6-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-13 m-0 b-0 p-0"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
                                                <span class="fs-11 text-muted">June 29, 2017</span>
                                            </div><!-- /post item -->

                                            <div class="clearfix mb-10"><!-- post item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/d-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-13 m-0 b-0 p-0"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
                                                <span class="fs-11 text-muted">June 29, 2017</span>
                                            </div><!-- /post item -->

                                            <div class="clearfix mb-10"><!-- post item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/a-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-13 m-0 b-0 p-0"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
                                                <span class="fs-11 text-muted">June 29, 2017</span>
                                            </div><!-- /post item -->

                                            <div class="clearfix mb-10"><!-- post item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/5-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-13 m-0 b-0 p-0"><a href="blog-single-default.html">Nullam Vitae Nibh Un Odiosters</a></h4>
                                                <span class="fs-11 text-muted">June 29, 2017</span>
                                            </div><!-- /post item -->

                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <!-- INLINE SEARCH -->
                                        <div class="inline-search clearfix">
                                            <form action="#" method="get" class="widget_search m-0">
                                                <input type="search" placeholder="Search Post..." name="s" class="search-input">
                                                <button type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="clear"></div>
                                            </form>
                                        </div>

                                        <!-- /INLINE SEARCH -->

                                    </div>

                                </div>
                                <!-- /POPULAR POSTS -->

                                <!-- FRIENDS -->
                                <div class="col-md-6 col-sm-6">

                                    <div class="box-inner">
                                        <h3>
                                            <a class="float-right fs-11 text-warning" href="#">VIEW ALL</a>
                                            FRIENDS
                                        </h3>
                                        <div class="h-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                            <div class="clearfix mb-10"><!-- squared item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/1-min.jpg" width="40" height="40" alt="" />
                                                <h4 class="fs-14 m-0 b-0 p-0 bold"><a href="#">Joana Doe</a></h4>
                                                <span class="fs-12 text-muted">Lorem ipsum dolor sit amet.</span>
                                            </div><!-- /squared item -->

                                            <div class="clearfix mb-10"><!-- rounded item -->
                                                <img class="thumbnail float-left rounded" src="demo_files/images/people/300x300/2-min.jpg" width="40" height="40" alt="" />
                                                <h4 class="fs-14 m-0 b-0 p-0 bold"><a href="#">Melissa Doe</a></h4>
                                                <span class="fs-12 text-muted">Lorem ipsum dolor sit amet.</span>
                                            </div><!-- /rounded item -->

                                            <div class="clearfix mb-10"><!-- squared item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/3-min.jpg" width="40" height="40" alt="" />
                                                <h4 class="fs-14 m-0 b-0 p-0 bold"><a href="#">Felicia Doe</a></h4>
                                                <span class="fs-12 text-muted">Lorem ipsum dolor sit amet.</span>
                                            </div><!-- /squared item -->

                                            <div class="clearfix mb-10"><!-- rounded item -->
                                                <img class="thumbnail float-left rounded" src="demo_files/images/people/300x300/4-min.jpg" width="40" height="40" alt="" />
                                                <h4 class="fs-14 m-0 b-0 p-0 bold"><a href="#">Suzana Doe</a></h4>
                                                <span class="fs-12 text-muted">Lorem ipsum dolor sit amet.</span>
                                            </div><!-- /rounded item -->

                                            <div class="clearfix mb-10"><!-- squared item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/5-min.jpg" width="40" height="40" alt="" />
                                                <h4 class="fs-14 m-0 b-0 p-0 bold"><a href="#">Jolie Doe</a></h4>
                                                <span class="fs-12 text-muted">Lorem ipsum dolor sit amet.</span>
                                            </div><!-- /squared item -->

                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <!-- INLINE SEARCH -->
                                        <div class="inline-search clearfix">
                                            <form action="#" method="get" class="widget_search m-0">
                                                <input type="search" placeholder="Search Friend..." name="s" class="serch-input">
                                                <button type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="clear"></div>
                                            </form>
                                        </div>
                                        <!-- /INLINE SEARCH -->

                                    </div>

                                </div>
                                <!-- /FRIENDS -->

                            </div>


                            <div class="row mt-30">

                                <!-- DISCUSSIONS -->
                                <div class="col-md-6 col-sm-6">

                                    <div class="box-inner">
                                        <h3>
                                            <a class="float-right fs-11 text-warning" href="#">VIEW ALL</a>
                                            DISCUSSIONS
                                        </h3>
                                        <div class="h-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                            <div class="clearfix mb-20"><!-- discussion item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/3-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-15 m-0 b-0 p-0 bold"><a href="#">Joana Doe</a></h4>
                                                <span class="fs-13 text-muted">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														<span class="text-success fs-11">12 min. ago</span>
													</span>
                                            </div><!-- /discussion item -->

                                            <div class="clearfix mb-20"><!-- discussion item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/4-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-15 m-0 b-0 p-0 bold"><a href="#">Melissa Doe</a></h4>
                                                <span class="fs-13 text-muted">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														<span class="text-success fs-11">54 min. ago</span>
													</span>
                                            </div><!-- /discussion item -->

                                            <div class="clearfix mb-20"><!-- discussion item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/5-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-15 m-0 b-0 p-0 bold"><a href="#">juliet Doe</a></h4>
                                                <span class="fs-13 text-muted">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														<span class="text-success fs-11">8 days ago</span>
													</span>
                                            </div><!-- /discussion item -->

                                            <div class="clearfix mb-20"><!-- discussion item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/6-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-15 m-0 b-0 p-0 bold"><a href="#">Suanna Doe</a></h4>
                                                <span class="fs-13 text-muted">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														<span class="text-success fs-11">12 day ago</span>
													</span>
                                            </div><!-- /discussion item -->

                                            <div class="clearfix mb-20"><!-- discussion item -->
                                                <img class="thumbnail float-left" src="demo_files/images/people/300x300/7-min.jpg" width="60" height="60" alt="" />
                                                <h4 class="fs-15 m-0 b-0 p-0 bold"><a href="#">Felicia Doe</a></h4>
                                                <span class="fs-13 text-muted">
														Lorem ipsum dolor sit amet, consectetur adipiscing elit.
														<span class="text-success fs-11">1 month ago</span>
													</span>
                                            </div><!-- /discussion item -->

                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <!-- INLINE SEARCH -->
                                        <div class="inline-search clearfix">
                                            <form action="#" method="get" class="widget_search m-0">
                                                <input type="search" placeholder="Search Discussion..." name="s" class="serch-input">
                                                <button type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="clear"></div>
                                            </form>
                                        </div>
                                        <!-- /INLINE SEARCH -->

                                    </div>

                                </div>
                                <!-- /DISCUSSIONS -->

                                <!-- NOTIFICATIONS -->
                                <div class="col-md-6 col-sm-6">

                                    <div class="box-inner">
                                        <h3>
                                            <a class="float-right fs-11 text-warning" href="#">VIEW ALL</a>
                                            NOTIFICATIONS
                                        </h3>
                                        <div class="h-250 slimscroll" data-always-visible="true" data-size="5px" data-position="right" data-opacity="0.4" disable-body-scroll="true">

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-success badge-square float-left">
														<i class="fa fa-comment"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>New Comment</b>: <a href="blog-single-default.html">Lorem ipsum Dolor</a></span>
                                            </div><!-- /notification item -->

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-danger badge-square float-left">
														<i class="fa fa-remove"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>Rejected</b>: <a href="#">Joana Doe</a> rejected friendship</span>
                                            </div><!-- /notification item -->

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-warning badge-square float-left">
														<i class="fa fa-warning"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>Warning</b>: Lorem ipsum Dolor</span>
                                            </div><!-- /notification item -->

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-info badge-square float-left">
														<i class="fa fa-info-circle"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>Info</b>: Lorem ipsum Dolor</span>
                                            </div><!-- /notification item -->

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-primary badge-square float-left">
														<i class="fa fa-check"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>Primary</b>: Lorem ipsum Dolor</span>
                                            </div><!-- /notification item -->

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-default badge-square float-left">
														<i class="fa fa-heart-o"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>Default</b>: Lorem ipsum Dolor</span>
                                            </div><!-- /notification item -->

                                            <div class="clearfix mb-20"><!-- notification item -->
                                                <span class="badge badge-purple badge-square float-left">
														<i class="fa fa-clock-o"></i>
													</span>
                                                <span class="fs-14 text-muted"><b>Various</b>: Lorem ipsum Dolor</span>
                                            </div><!-- /notification item -->

                                        </div>
                                    </div>

                                    <div class="box-footer">
                                        <!-- INLINE SEARCH -->
                                        <div class="inline-search clearfix">
                                            <form action="#" method="get" class="widget_search m-0">
                                                <input type="search" placeholder="Search notification..." name="s" class="serch-input">
                                                <button type="submit">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                                <div class="clear"></div>
                                            </form>
                                        </div>
                                        <!-- /INLINE SEARCH -->

                                    </div>

                                </div>
                                <!-- /NOTIFICATIONS -->

                            </div>


                        </div>

                        <form action="{{ path('candidat_profile_message') }}" method="POST" class="box-light mt-20">
                            <div class="box-inner">
                                <h4 class="uppercase">LEAVE A MESSAGE TO <strong>FELICIA DOE</strong></h4>

                                {{ form_widget(form.message) }}

                                <div class="text-muted text-right mt-3 fs-12 mb-10">
                                    <span>0/100</span> Words
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                                {{ form_widget(form) }}
                                <div class="clear"></div>
                        </form>

                    </div>

                </div>

            </div>

        </div>
    </section>
    <!-- / -->

{% endblock %}