{% extends "::layout/layout.html.twig" %}

{% block principal %}
    <section class="page-header">
        <div class="container">

            <h1>comptabilite et fiscalite</h1>

            <!-- breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="{{ path('azimuth_homepage') }}">Accueil</a></li>

                <li class="active">L'équipe de direction </li>
            </ol><!-- /breadcrumbs -->

        </div>
    </section>
    <!-- -->
    <section>
        <div class="container">

            <p class="lead">Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this.</p>
            <p>Lorem ipsum dolor sit amet. Etharums your template rerum facilis dolores nemis omnis fugats vitaes you need this totam rem aperiam, eaque ipsa qu ab illo inventore veritatis et quasi architectos beatae vitae dicta sunt explicabo. Nemo enim sadips ipsums dolores sit.Nemo enims sadips ipsums un inventore veritatis et quasi.</p>

            <div class="row">
                <div class="col-sm-3">
                    <div class="margin-bottom-60">
                        <h4>À propos</h4>
                        <ul class="footer-links list-unstyled">
                            <li class="list-group-item"><a href="{{ path('mission_vision') }}"> Mission et valeurs</a></li>
                            <li class="list-group-item"><a href="{{ path('equipe') }}"> L'équipe</a></li>
                            <li class="list-group-item"><a href="responsabilite-d-entreprise.php"> Responsabilité d’entreprise</a></li>
                            <li class="list-group-item"><a href="diversite-et-inclusion.php"> Diversité et inclusion</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-9">
                    <div class="row">
                        <!-- item -->
                        <div class="col-md-4 col-sm-6">

                            <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                                <div class="front">
                                    <div class="box1 box-default">
                                        <div class="box-icon-title">
                                            <img class="img-fluid" src="{{ asset('assets/images/team/bansaari-koussey.jpg')}}" alt="bansaari koussey" />
                                            <h2>Bansaari KOUSSEY</h2>
                                            <small>Gestionnaire principal, Associé</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="back">
                                    <div class="box2 box-default">
                                        <h4 class="m-0">Felica Doe</h4>
                                        <small>CEO</small>

                                        <hr />

                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>

                                        <hr />

                                        <a href="#" class="social-icon social-icon-sm social-facebook">
                                            <i class="fa fa-facebook"></i>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon social-icon-sm social-twitter">
                                            <i class="fa fa-twitter"></i>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon social-icon-sm social-linkedin">
                                            <i class="fa fa-linkedin"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <p>
                                <!-- /item -->
                                Bansaari KOUSSEY est associé, gestionnaire principal et cofondateur d'AZIMUTH Management Consultants and Partners Inc.
                                <br/>
                                Bansaari possède plus de 10 ans d’expérience sur trois continents (Afrique, Europe, et l’Amérique) dans tous les domaines de la gestion, notamment la comptabilité, l’audit, la gestion de changements, l’analyse de la rentabilité, la gestion de projets, implémentation et la stabilisation des PGI. Il a travaillé dans les sociétés en Afrique comme OPT Bénin, Shell Bénin, et UBA vie Bénin.
                                <br/>
                                Bansaari a très tôt par la force des choses mis les mains dans les projets de transformation, de gestion de changements et de migrations informatiques des PGI comme SAP, oracle respectivement dans les grands groupes multinationales comme Téris de Suez Environnement, Renault trucks, Linde France,  bioMérieux. Ces expériences l'ont conforté à devenir un consultant en gestion afin de mettre ses compétences au profit des entreprises. Au Canada, après un bref passage au Musée des civilisations et à IPSUM Management Consultants Inc., il a décidé de s'associer à François JOLY pour créer Azimuth Management Consultants and Partners Inc.
                                <br/>
                                Bansaari est accessoirement formateur professionnel sur les outils informatiques et les  processus de gestion. À ces heures perdues, il s'implique bénévolement dans l'accompagnement des organisations sans but lucratif (OSBL-ONG) sur les volets stratégie et exploitation organisationnelles puis, des jeunes entrepreneurs sur les aspects de conseil, coaching, création de logos, cartes d'affaires, charte graphique et site internet.
                                <br/>
                                Comme parcours d’études et de formation, après avoir obtenu un Diplôme de Technicien Supérieur en Gestion des Entreprises à l'Institut National d'Économie (actuel ENEAM Bénin), Bansaari à complété ses études en France sanctionnées par l'acquisition successivement d'un baccalauréat (licence) en Administration des Affaires (BBA) à l'Institut d'Administration des Entreprises (IAE Lyon 3), d’un Diplôme d'études Supérieures Spécialisées (DESS)  en en Administration des Affaires à l'IAE de Saint-Etienne (ISEAG), puis un Master en Contrôle de Gestion et Audit Opérationnel à forte dominance informatique appliquée à la gestion, à l'IAE de Saint-Etienne (ISEAG).
                                <br/>
                            </p>
                        </div>
                    </div>
                        <!-- /item -->
                    <div class="row">
                        <!-- item -->
                        <div class="col-md-4 col-sm-6">

                            <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center">
                                <div class="front">
                                    <div class="box1 box-default">
										<div class="box-icon-title">
											<img class="img-fluid" src="{{ asset('assets/images/team/FJOLY_Prof_Web.jpg')}}" alt="francois" />
											<h2>François R. JOLY</h2>
											<small>Gestionnaire Principal, Associé</small>
										</div>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="box2 box-default">
                                        <h4 class="m-0">Felica Doe</h4>
                                        <small>CEO</small>

                                        <hr />

                                        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere</p>

                                        <hr />

                                        <a href="#" class="social-icon social-icon-sm social-facebook">
                                            <i class="fa fa-facebook"></i>
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon social-icon-sm social-twitter">
                                            <i class="fa fa-twitter"></i>
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon social-icon-sm social-linkedin">
                                            <i class="fa fa-linkedin"></i>
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-6">
                            <p>
                                <!-- /item -->
                                François JOLY est associé, gestionnaire principal et cofondateur d'AZIMUTH Management Consultants and Partners Inc.
                                <br/>
                                François est un consultant en gestion polyvalent avec plus de 15 années d'expérience et de solides compétences en analyse, en rédaction et communicationnelles, à la fois en anglais et en français. Sa carrière a débuté dans le secteur des services financiers où il a exploité ses compétences financières pour fournir des conseils sur la modélisation des coûts et de l'analyse d’affaires pour des clients autant privés que gouvernementaux. Son sens aigu des affaires l’a mené vers des grands projets où il a été en mesure de combiner son expérience financière des contrôles de gestion à la gestion de projets.
                                <br/>
                                En tant que gestionnaire de projets, François a géré divers projets en TIC et financiers dans le secteur public, y compris des projets de la Couronne. François est un Gestionnaire de Projet Professionnel (PMP), un gestionnaire de projet SAP certifié, un praticien PRINCE2 et un praticien certifié Agile. Au niveau de la gestion financière et de l’analyste d'affaires, il se spécialise dans les audits de conformité, les audits informatiques fondés sur le risque, les contrôles internes, l'étalonnage, la modélisation des processus, les revues financières, budgétaires et les analyses d’engagements de coûts.
                                <br/>
                                François est également enseignant à temps partiel (niveau collégial).
                                <br/>
                                Enfin, François est titulaire d'un baccalauréat en administration des affaires (BAA) de l'Université du Québec en Outaouais et d’un MBA de l'Université d'Ottawa. Il est un Comptable Professionnel Agréé (CPA), un vérificateur de système d’informations certifié (CISA) et un Praticien d’informations privées certifié (CIPP/C).
                                <br/>
                            </p>
                        </div>
                    </div>
                    <!-- /item -->
                </div>
            </div>


            </div>

        </div>
    </section>
    <!-- / -->
{% endblock %}